@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2e38cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  width: 100%;
  background-color: #c2b6ff;
  padding: 10px 0;
  text-align: left;
}

.logo {
  width: 70px;
  margin-left: 20px;
}

.container {
  background-color: #a88eff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
  width: 350px;
}

.container h2 {
  margin-bottom: 20px;
  color: #000;
  font-size: 24px;
}

label {
  display: block;
  text-align: left;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
}

input:focus {
  border-color: #6c63ff;
}

button {
  width: 100%;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #5b52e0;
}

p {
  margin-top: 15px;
  color: #000;
}

a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.info {
  margin-top: 10px;
  font-size: 12px;
  color: #000000b4;
}
